{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var tracks_url = "{{=URL('api', 'get_tracks')}}";
  var add_track_url = "{{=URL('api', 'add_track', user_signature=True)}}";
  var del_track_url = "{{=URL('api', 'del_track', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

  <!-- For the moment, we use a separate page to add tracks to the database. -->
{{if auth.user is not None:}}
  <a href="{{=URL('default', 'add')}}" class="btn rounded"><i class="fa fa-plus"></i> Add Track</a>
{{pass}}

  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

    <!-- Buttons -->
    <div class="button_bar">
      <button v-if="!is_adding_track" class="btn"
              v-on:click="add_track_button()"
              :disabled="!logged_in"
              v-bind:class="{'disabled': !logged_in}">
        <i class="fa fa-plus"></i> Add track
      </button>
      <button v-if="is_adding_track" class="btn " v-on:click="add_track_button()">
      <i class="fa fa-times"></i> Cancel
      </button>
    </div>

    <!-- Form to add tracks -->
    <div v-if="is_adding_track" id="add_track_div">
      <form action="#" v-on:submit.prevent="add_track" class="form-horizontal" enctype="multipart/form-data" method="post">
        <div class="form-group" id="no_table_artist__row">
          <div>
            <input class="form-control string" id="no_table_artist" v-model="form_artist" placeholder="Artist" type="text" />
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group" id="no_table_album__row">
          <div>
            <input class="form-control string" id="no_table_album" name="album" type="text" v-model="form_album" placeholder="Album"/>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group" id="no_table_track__row">
          <div><input class="form-control string" id="no_table_track" name="track" type="text" v-model="form_track" placeholder="Track"/>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group" id="submit_record__row">
          <div>
            <input class="btn btn-primary" id="add_track_submit" type="submit" value="Submit" />
          </div>
        </div>
      </form>
    </div>


    <!-- Code to display the table of tracks -->
    <div class="result_table">
      <table class="track_table">
        <thead>
        <tr>
          <th></th>
          <th>Artist</th>
          <th>Album</th>
          <th>Track</th>
          <th>N Plays</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="track in tracks">
          <td></td>
          <td>${track.artist}</td>
          <td>${track.album}</td>
          <td>${track.title}</td>
          <td>${track.num_plays}</td>
        </tr>
        </tbody>
      </table>
      <div v-if="has_more" class="show_more">
        <button class="btn btn-default rounded" v-on:click="get_more()">
          <i class="fa fa-ellipsis-h"></i>
          Load more
        </button>
      </div>
    </div>


  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
