.colorful {
  color: $clrHilight;
}

div.main_content {
  padding: 10px;
}

div.result_table {
  width: 100%;
}
table.track_table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:disabled {
  background-color: lightgray;
  &:hover {
    box-shadow: none;
  }
}

td.play_selector {
  width: 20px;
}